@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <h1>
            <MudIcon Icon="@Icons.Material.Filled.ContentCopy"/>
            Copy Buttonizer - demonstration for MudBlazor
        </h1>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/jsakamoto/Toolbelt.Blazor.CopyButtonizer/" Target="_blank" />
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="my-8">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

